basePath: /
definitions:
  auth.RegisterInput:
    properties:
      email:
        type: string
      password:
        minLength: 6
        type: string
      username:
        type: string
    required:
    - email
    - password
    - username
    type: object
  auth.UserResponse:
    properties:
      avatar_url:
        description: Password  string `json:"password"`
        type: string
      email:
        type: string
      id:
        type: integer
      username:
        type: string
    type: object
host: localhost:8080
info:
  contact: {}
  description: Una app de red social simple de chateo
  title: ChatLanGO API
  version: "1.0"
paths:
  /auth/register:
    post:
      consumes:
      - application/json
      description: Crea nuevos usuarios en el API
      parameters:
      - description: Datos del usuario
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/auth.RegisterInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.UserResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Registro de usuarios
      tags:
      - auth
  /test/:
    get:
      description: Devuelve un mensaje simple para verificar el funcionamiento del
        servidor.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Endpoint de prueba validada
      tags:
      - Test
swagger: "2.0"
