definitions:
  auth.LoginInput:
    properties:
      email:
        type: string
      password:
        type: string
    required:
    - email
    - password
    type: object
  auth.LoginResponse:
    properties:
      message:
        type: string
      token:
        type: string
    type: object
  auth.RegisterInput:
    properties:
      email:
        type: string
      password:
        minLength: 6
        type: string
      username:
        type: string
    required:
    - email
    - password
    - username
    type: object
  auth.UserResponse:
    properties:
      avatar_url:
        description: Password  string `json:"password"`
        type: string
      email:
        type: string
      id:
        type: integer
      username:
        type: string
    type: object
  posts.CreatePostInput:
    properties:
      content:
        type: string
    required:
    - content
    type: object
  posts.PostResponse:
    properties:
      content:
        type: string
      id:
        type: integer
      user_id:
        type: integer
    type: object
  posts.UpdatePostInput:
    properties:
      content:
        type: string
    required:
    - content
    type: object
  posts.UserPostResponse:
    properties:
      content:
        type: string
      created_at:
        type: string
      id:
        type: integer
      user:
        $ref: '#/definitions/posts.UserPostsByID'
    type: object
  posts.UserPostsByID:
    properties:
      avatar_url:
        type: string
      id:
        type: integer
      username:
        type: string
    type: object
info:
  contact: {}
  description: Una app de red social simple de chateo
  title: ChatLanGO API
  version: "1.0"
paths:
  /auth/login:
    post:
      consumes:
      - application/json
      description: Permite a un usuario autenticarse y obtener un token JWT
      parameters:
      - description: Credenciales del usuario
        in: body
        name: credentials
        required: true
        schema:
          $ref: '#/definitions/auth.LoginInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.LoginResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Inicio de sesión
      tags:
      - Auth
  /auth/register:
    post:
      consumes:
      - application/json
      description: Crea nuevos usuarios en el API
      parameters:
      - description: Datos del usuario
        in: body
        name: user
        required: true
        schema:
          $ref: '#/definitions/auth.RegisterInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/auth.UserResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Registro de usuarios
      tags:
      - Auth
  /posts/:
    get:
      description: Retorna todos los posts publicados por todos los usuarios
      produces:
      - application/json
      responses:
        "200":
          description: posts
          schema:
            additionalProperties: true
            type: object
      summary: Listar todos los posts
      tags:
      - Posts
    post:
      consumes:
      - application/json
      description: Crear nuevo post de usuario logeado
      parameters:
      - description: Contenido del post
        in: body
        name: post
        required: true
        schema:
          $ref: '#/definitions/posts.CreatePostInput'
      produces:
      - application/json
      responses:
        "400":
          description: Bad Request
          schema:
            additionalProperties:
              type: string
            type: object
      security:
      - BearerAuth: []
      summary: Crear Post
      tags:
      - Posts
  /posts/{id}:
    delete:
      description: Se elimina el post solo poniendo el ID en el campo requerido
      parameters:
      - description: ID del post
        in: path
        name: id
        required: true
        type: integer
      responses:
        "200":
          description: OK
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "403":
          description: Forbidden
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Eliminar un post
      tags:
      - Posts
    get:
      description: Retorna todos los posts creados por un user específico
      parameters:
      - description: ID del usuario
        in: path
        name: id
        required: true
        type: integer
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              items:
                $ref: '#/definitions/posts.UserPostResponse'
              type: array
            type: object
        "400":
          description: error
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Listar todos los post de un user
      tags:
      - Posts
    put:
      consumes:
      - application/json
      description: El usuario dueño del post puede actualizar su contenido
      parameters:
      - description: ID del post
        in: path
        name: id
        required: true
        type: integer
      - description: Contenido nuevo
        in: body
        name: body
        required: true
        schema:
          $ref: '#/definitions/posts.UpdatePostInput'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/posts.PostResponse'
        "400":
          description: Bad Request
          schema:
            additionalProperties: true
            type: object
        "401":
          description: Unauthorized
          schema:
            additionalProperties: true
            type: object
        "403":
          description: Forbidden
          schema:
            additionalProperties: true
            type: object
        "404":
          description: Not Found
          schema:
            additionalProperties: true
            type: object
      security:
      - BearerAuth: []
      summary: Actualizar un post
      tags:
      - Posts
  /test/:
    get:
      description: Devuelve un mensaje simple para verificar el funcionamiento del
        servidor.
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            additionalProperties:
              type: string
            type: object
      summary: Endpoint de prueba validada
      tags:
      - Test
securityDefinitions:
  BearerAuth:
    description: 'Ingresa el token JWT: Bearer {token}'
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
